.base-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    margin-top: -400px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .image {
      width: 12em;
      height: 14em;
      align-content: center;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      margin-top: 0.2em;
      display: flex;
      flex-direction: column;
      align-items: center;


      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        height: fit-content;

        label {
          font-size: 10px;
        }

        input {
          margin-top: 3px;
          min-width: 18em;
          height: 25px;
          padding: 0px 2px;
          font-size: 10px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 10px;
          transition: all 250ms ease-in-out;

          &:hover {
            //background-color: #ffffff;
            //box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 1em;
  }
}

.volunteer {
  font-size: large;
  align-items: flex-start;
}

// .hero__bannerlogin {
//   position: relative;
//   padding-top: 467px;
//   background: url("./volunteer3.png") no-repeat center center /cover;
// }

// .flex__form {
//   position: relative;
//   z-index: 1000;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
// }